*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
div#corpo{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
div#container1{
    max-width: 35%;
    margin: 30px 30px 0px 50px;
}
p#webinar{
    color: rgb(53, 53, 255);
    font-size: 14px;
    font-weight: bold;
}
h1#tema{
    max-width: 500px;
}
p#data{
    color: rgb(132, 132, 132);
}
p#desc{
    color: rgb(109, 109, 109);
    max-width: 520px;
}   
p#foto1, p#foto2, p#foto3{
    width: 160px;
    height: 210px;
    border: 1px gray solid;
    margin: 5px 10px 0px 0px ;
}
div#fotos{
    display: flex;
    margin-bottom: 50px;
}
div#container2{
    background-image: url("pattern.png");
    color: white;
    text-align: center;
    max-width: 650px;
    right: 0;
    margin-left: 30px;
}
div#inscrever{
    margin: 60px;
    max-width: 500px;
    border: white solid 2px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
p#descinscricao{
    max-width: 80%;
}
input#nome, input#sobrenome{
    width: 40%;
    border-radius: 5px;
}
input#email{
    width: 82%;
    border-radius: 5px;
}
input{
    padding: 13px;
    margin: 3px;
}
p#btn_cadastrar{
    width: 82%;
    padding: 13px;
    border-radius: 5px;
    border: 2px solid white;
}
div#info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: left;
}
li{
    margin-top: 4px;
}

@media (max-width: 600px) {
    div#container2 {
        max-width: 100%;
        margin-left: 0;
    }
    div#inscrever{
        margin: 4%;
    }
    p#descinscricao{
        max-width: 100%;
    }
}
@media (max-width: 1200px){
    div#container1{
        max-width: 90%;
    }
}
